/* estilos basicos */
html {
  background-color: #f0f2f6;
}

body {
  font-family: sans-serif, arial, helvetica;
  height: 100vh;
}

a {
  color: #0e5ca1;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 5px;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display:inline-block;
  margin: 35px 8px 35px 8px; 
  color: #cccccc;
  letter-spacing: 8px;
}


/* para la estructura */

.Contenedor {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 25px;
  margin-top: -100px;
}

#CotenedorForm {
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  background: #bed5e9;
  padding: 50px;
  width: 95%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  -moz-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border: 3px solid #3479b4;
  /*margin-top: -280px;*/
}

#pieInicio {
  background-color: #f4e8e8;
  border-top: 3px solid #3479b4;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* titlo del formulario */

h2.titulo {
  color: #100651;
  border-bottom: 3px solid #070460;
}



/* estilo del form*/

input[type=button], input[type=submit], input[type=reset]{
  background-color: #042259;
  border: none;
  color: white;
  padding: 18px 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 17px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  margin-top: 25px;
  letter-spacing: 3px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color:  #1852bd;
}

/*
input[type=button]:titulo, input[type=submit]:titulo, input[type=reset]:titulo  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
*/
input[type=text], input[type=password] {
  background-color: #e6e0e0;
  border: none;
  color: #040b5d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  letter-spacing: 7px;
}

input[type=text]:focus {
  background-color: #fff;
  border: 2px solid #0a577d;
  font-weight: bold;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
    -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/* Simple CSS3 Fade-in Animation */
.noContraseña:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #084361;
  content: "";
  transition: width 0.2s;
}

.noContraseña:hover {
  color: #0d0d0d;
}

.noContraseña:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}